/* Allows for a responisve video to play as a background file */
#matrix {
  object-fit: fill;
  height: 100%;
  width: 100%;
  float: left;
  top: 0;
  padding: none;
  position: fixed;
  opacity: 0.5;
}

ul.social_media,
ul.main_nav {
  display: flex;
}
